.findArticle__header {
    margin: 2rem 0 2.75rem;
    display: flex;
    justify-content: space-between;
}

.card__outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 2rem;
}

.card__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;
    margin-right: 2rem;
}

.card__img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    backface-visibility: hidden;
}

.card__body {
    position: relative;
    padding-top: 1.5rem;
}


.card__body-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 1.4em;
}

.card__body > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    height: 3.44em; /*line-height : 1.72 * 2*/
}

.card__footer {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.card__hover-after {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 0 24%;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 0.625rem;
    backdrop-filter: blur(3px);

}

.card__hover-after > button {
    margin: 0.5rem;
    width: 100%;
    max-width: 200px;
}

.card__wrapper:hover .card__hover-after {
    display: flex;
}

.card__wrapper:hover .card__body,
.card__wrapper:hover .card__footer {
    padding-left: 2rem;
    padding-right: 2rem;
}

button.category__tab {
    transition: all 0.3s
}

.category__tab.active {
    background-color: rgba(0, 168, 129, 0.16);
    color: #008e6d;
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 500;
}

button.category__tab:hover {
    background-color: rgba(0, 168, 129, 0.08);
}

.category__tab.inactive {
    background-color: rgba(0, 168, 129, 0);
    color: #858899;
    font-size: 20px;
    line-height: 1.75rem;
    font-weight: 500;
}


.findArticle__section {
    margin-bottom: 3.75rem;
}

.findArticle__section > div {
    margin: 0.25rem 0 1rem;
}

.findArticle__section > div > a {
    text-decoration: none;
    margin-bottom: 1rem;
}

.findArticle__section-title:hover {
    filter: opacity(86%);
}

.findArticle__section-title:hover i {
    animation-duration: 0.5s;
    animation-name: hoverLink;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@media (max-width: 1440px) {
    .card__body-title {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-wrap: break-word;
        height: 2.8em;
    }
}

@keyframes hoverLink {
    from {
        margin-left: 0;
    }
    30% {
        margin-left: 12px;
    }
    100% {
        margin-left: 0;
    }
}

.input-add-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    padding: 0;
}

.input-add-item > input {
    padding: 0 3rem 0 0.875rem;
    border-radius: 10rem;
}

.input-add-item > button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.875rem;
    border: none;
}

.input-add-item > button:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
