<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleBoardDAO">
    <!-- @param String : category -->
    <select id="findNewMyTypeArticle" parameterType="String" resultType="ArticleInfoDTO">
        SELECT
            a.ARTICLE_SEQ,
            a.TITLE,
            a.SUMMARY,
            a.URL,
            a.HASHTAG,
            c.CATEGORY AS CATEGORY_TITLE,
            TO_CHAR(TO_DATE(a.REG_DATE),'YYYY.MM.DD') AS REG_DATE,
            a.DEL,
            a.APPLY_COUNT
        FROM ARTICLE a, CATEGORY c
        WHERE a.CATEGORY_SEQ = c.CATEGORY_SEQ
            AND c.CATEGORY IN (${categoryStr})
        ORDER BY a.REG_DATE DESC
    </select>

    <select id="findPopularMyTypeArticle" parameterType="String" resultType="ArticleInfoDTO">
        SELECT
            a.ARTICLE_SEQ,
            a.TITLE,
            a.SUMMARY,
            a.URL,
            a.HASHTAG,
            c.CATEGORY AS CATEGORY_TITLE,
            TO_CHAR(TO_DATE(a.REG_DATE),'YYYY.MM.DD') AS REG_DATE,
            a.DEL,
            a.APPLY_COUNT
        FROM ARTICLE a, CATEGORY c
        WHERE a.CATEGORY_SEQ = c.CATEGORY_SEQ
            AND c.CATEGORY IN (${categoryStr})
        ORDER BY a.APPLY_COUNT DESC
    </select>
</mapper>