<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="io.ticly.mint.admin.model.dto.ArticleDTO" alias="ArticleDTO"/>
        <typeAlias type="io.ticly.mint.learn.model.dto.UserLearnDTO" alias="UserLearnDTO"/>
        <typeAlias type="io.ticly.mint.learn.model.dto.VocaDTO" alias="VocaDTO"/>
        <typeAlias type="io.ticly.mint.learn.model.dto.VocaGroupDTO" alias="VocaGroupDTO"/>
        <typeAlias type="io.ticly.mint.learn.model.dto.LearnArticleDTO" alias="LearnArticleDTO"/>
        <typeAlias type="io.ticly.mint.articleBoard.model.dto.ArticleInfoDTO" alias="ArticleInfoDTO"/>
        <typeAlias type="io.ticly.mint.member.dto.UserDTO" alias="UserDTO"/>
        <typeAlias type="io.ticly.mint.articleBoard.model.dto.HashtagDTO" alias="HashtagDTO"/>
        <typeAlias type="io.ticly.mint.mypage.model.dto.MyPageDTO" alias="MyPageDTO"/>
        <typeAlias type="io.ticly.mint.dashboard.model.dto.UserArticleInfoDTO" alias="UserArticleInfoDTO"/>
    </typeAliases>
</configuration>