<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="articleDAO">
    <sql id="ArticleColumns">
		  article_seq
		, title
		, summary
		, file_seq
		, url
		, hashtag
		, category_seq
		, reg_date
		, del
		, apply_count
	</sql>

    <insert id="WriteArticle" parameterType="ArticleDTO">
        INSERT INTO ARTICLE VALUES (
        article_pk_seq.NEXTVAL
        , #{title}
        , #{summary}
        , #{file_seq}
        , #{url}
        , '#IT'
        , 3
        , SYSDATE
        , 0
        , 10
        )
    </insert>

    <select id="selectArticleDetail" parameterType="long" resultType="ArticleDTO">
        SELECT
        <include refid="ArticleColumns" />
        FROM
        ARTICLE
        WHERE
        del = '0'
        AND
        article_seq = #{article_seq}
    </select>

    <update id="updateArticle" parameterType="ArticleDTO">
		UPDATE ARTICLE
		SET
			  udt_date = NOW()
			, title = #{title}
			, summary = #{summary}
			, hashtag = #{hashtag}
		WHERE
			article_seq = #{article_seq}
	</update>

    <update id="deleteBoard" parameterType="long">
		UPDATE ARTICLE
		SET
			  del = '1'
		WHERE
			article_seq = #{article_seq}
	</update>

    <select id="selectArticleList" parameterType="ArticleDTO" resultType="ArticleDTO">
        SELECT
        <include refid="ArticleColumns" />
        FROM
        ARTICLE
        WHERE
        del = '0'
        ORDER BY
        article_seq DESC
    </select>


<!--    <select id="selectArticleTotalCount" parameterType="ArticleDTO" resultType="int">-->
<!--		SELECT-->
<!--			COUNT(*)-->
<!--		FROM-->
<!--			ARTICLE-->
<!--		WHERE-->
<!--			del = '0'-->
<!--	</select>-->

    <select id="selectArticleTotalCount" parameterType="ArticleDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			ARTICLE
		WHERE
			del = '0'
	</select>


</mapper>