<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminClientManageDAO">
    
    <!-- 전체 조회 -->
    <select id="clientSearchBtn" resultType="AdminClientManageDTO">
        SELECT
            ROWNUM,
            EMAIL,
            NICKNAME,
            AUTH,
            SIGNUP_TYPE,
            TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE,
            DEL,
            MARKETING_AGREE
        FROM MEMBER
    </select>

    <!-- 검색조건에 맞는 멤버 데이터 조회 -->
    <select id="findMemberBySearch" resultType="AdminClientManageDTO">
        SELECT
            ROWNUM,
            EMAIL,
            NICKNAME,
            AUTH,
            SIGNUP_TYPE,
            TO_CHAR(REG_DATE, 'YYYY-MM-DD') AS REG_DATE,
            DEL,
            MARKETING_AGREE
        FROM MEMBER
        <where>
            <choose>
                <when test="searchType == 'allSearchType'">
                    (EMAIL like '%${searchKeyword}%'
                    OR NICKNAME like '%${searchKeyword}%')
                </when>
                <otherwise>
                    ${searchType} like '%${searchKeyword}%'
                </otherwise>
            </choose>
            <if test="clientType != 'allClientType'">
                AND DEL = #{clientType}
            </if>
            <if test="marketingAgree != 'allMarketingType'">
                AND MARKETING_AGREE = #{marketingAgree}
            </if>
            <if test="selectNormalEmail != 'EMAIL'">
                AND SIGNUP_TYPE !='EMAIL'
            </if>
            <if test="selectNaver != 'NAVER' ">
                AND SIGNUP_TYPE !='NAVER'
            </if>
        </where>
    </select>
</mapper>