<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleDAO">
    <sql id="ArticleVocabookColumns">
		  article_vocabook_seq
		, article_seq
		, voca
		, meaning_num
		, voca_order
	</sql>

    <select id="ArticleVocabookListDao" resultType="ArticleVocabookDTO">
        SELECT
        <include refid="ArticleVocabookColumns" />
        FROM
        ARTICLE_VOCABOOK
    </select>


    <insert id="saveArticleVocabookDao" parameterType="java.util.HashMap">
        INSERT INTO ARTICLE_VOCABOOK (
                            ARTICLE_VOCABOOK_SEQ
                            , ARTICLE_SEQ
                            , VOCA
                            , MEANING_NUM
                            , VOCA_ORDER
        )

        VALUES ( ARTICLE_VOCABOOK_SEQ.NEXTVAL
                , #{ARTICLE_SEQ}
                , #{VOCA}
                , #{MEANING_NUM}
                , #{VOCA_ORDER}
                )
    </insert>


    <delete id="deleteArticleVocabookDao">
		DELETE FROM ARTICLE_VOCABOOK
		WHERE ARTICLE_VOCABOOK_SEQ = #{ARTICLE_VOCABOOK_SEQ}
	</delete>


</mapper>