/* globalNav */
.globalHeader-wrap{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 11;
    box-shadow: 0 1px 0 0 #E1E1E8;
}

.globalHeader{
    display: flex;
    align-items: center;
    max-width: 1600px;
    justify-content: space-between;
    height: 80px;
    padding: 20px 24px;
    margin: 0 auto;
}

.globalHeader-left{
    cursor: pointer;
}

.header-index{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-index li{
    margin: 0 12px;
    cursor: pointer;
}

.header-index li:nth-child(3){
    display: block;
    padding: 6px 12.5px;
    margin-right: 0;
    border-radius: 3px;
    background-color: #00A881;
}

.globalHeader-right{
    display: flex;
    align-items: center;
}

.globalHeader-right h6{
    margin: 6px 12px;
}

.header-profile-wrap {
    display: flex;
    align-items: center;
}

/*네비 리스트 활성화*/
.nav-list-active{
    color: #00A881 !important;
}

.header-index li a{
    color: #525463;
}

.header-index li a:hover{
    text-decoration: none;
}


/*프로필*/
.leaning-header-profile {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: orange;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.header-learing-board{
    cursor: pointer;
    border: 1px solid #008E6D;
    border-radius: 5px;
    background-color: rgba(0,168,129,0.08);
    margin-right: 16px;
}

.icon_caret-down{
    color: #858899;
    cursor: pointer;
    margin-left: 5px;
}

#modal-open-button{
    cursor: pointer;
}

/*드롭다운*/
.dropdown-menu{
    min-width: 0 !important;
}