<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <!-- ///////////////////// 로그인 로직 ///////////////////// -->
    <!-- 로그인시 가입 여부와 회원정보를 가져오기 위한 SQL -->
    <select id="findMemberLogin" resultType="UserDTO">
        SELECT EMAIL, NICKNAME, AUTH
        FROM MEMBER
        WHERE DEL != 1
        AND EMAIL = #{email} AND PASSWORD = #{password}
    </select>

    <!-- 로그인한 회원의 카테고리 데이터를 가져오기 위한 SQL -->
    <select id="getUserCategories" resultType="String">
        SELECT CATEGORY
        FROM MEMBER_CATEGORIES MEMBER_CATE, CATEGORY CATE
        WHERE MEMBER_CATE.CATEGORY_SEQ = CATE.CATEGORY_SEQ
        AND MEMBER_CATE.EMAIL = #{email}
    </select>
    
    <!-- ///////////////////// 회원가입 로직 ///////////////////// -->
    <!-- 이메일 중복확인 SQL -->
    <select id="checkEmail" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER
        WHERE EMAIL = #{email}
    </select>

    <!-- 회원 등록 SQL -->
    <insert id="signup">
		insert into MEMBER(EMAIL, PASSWORD, NICKNAME, AUTH, SIGNUP_TYPE, REG_DATE)
		values(#{email}, #{password}, #{nickname}, 3, 'EMAIL', sysdate)
	</insert>

    <!-- 세션에 저장된 관심 카테고리를 DB에 insert -->
    <insert id="saveUserCategories" parameterType="java.util.List">
		INSERT INTO MEMBER_CATEGORIES(EMAIL, CATEGORY_SEQ)
        VALUES(#{email}, 1);
	</insert>
</mapper>