@keyframes tabSlider {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
/*learning-header*/
ul {
    padding: 0;
    margin: 0;
}
ul li {
    margin: 0;
}
.leaning-header-wrap {
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 0 0 #E1E1E8;
    position: relative;
    z-index: 11;
}
.leaning-header {
    display: flex;
    align-items: center;
    max-width: 1600px;
    justify-content: space-between;
    height: 80px;
    padding: 20px 24px;
    margin: 0 auto;
}
.header-btn-back {
    min-width: 123px;
}

.leaning-header-left {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.leaning-header-right {
    display: flex;
    align-items: center;
}

.learning__header-index {
    display: inherit;
    width: 100%;
    margin: 23px;
    padding: 0;
}

.learning__header-index li {
    color: #858899;
}

.learning__header-index li:after {
    content: '/';
    color: #858899;
    margin: 0 6px;
}
.learning__header-index li:first-child {
    min-width: 100px;
}
.learning__header-index li:last-child:after {
    content: '';
}

.learning__header-index li:last-child {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #008E6D;
    width: calc(100% - 256px);
}

.btn-custom-option {
    font-weight: bold;
    color: #525463;
    background-color: rgba(205,206,214,0.08);
    border: 1px solid #CDCED6;
}

.btn-back, .btn-link-button {
    width: 105px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-align: center;
}

.btn-back:before {
    content: '<';
    margin-right: 11px;
}

.btn-add:before {
    content: '+';
    margin-right: 11px;
}

.btn-link-image {
    width: 20px;
    margin-right: 4px;
}

.btn-link-button:focus {
    text-decoration: none;
}

.btn-link-button:hover, .btn-link-button:hover .cls-2 {
    text-decoration: none;
    color: white;
    fill: #fff;
}

/*
.drop-down {
    display: inline-block;
    margin-left: 12px;
    width: 0;
    height: 0;
    border-top: 7px solid #6c757d;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    cursor: pointer;
}
*/
progress-contents-left {

}
.leaning-contents-left-top {
    width: 210px;
    height: 210px;
    border-radius: 15px;
    background-color: #F7F7FA;
    margin-bottom: 24px;
}
.leaning-progress-percent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 3;
    color: #257FF9;
}
.leaning-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.leaning-circle-bg {
    position: absolute;
    z-index: 0;
    width: 162px;
    height: 162px;
    border: 16px solid #E1E1E8;
    border-radius: 100%;
}
.leaning-progress-canvas {
    position: relative;
    z-index: 1;
    transform: rotate(-90deg);
}
.leaning-progress-span {
    color: #2B2D36;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
}
.leaning-contents-wrap {
    /*height: 100%;*/
    margin: 50px auto 80px;
}
.leaning-contents-left-down {
    width: 210px;
    /*height: 678px;*/
    /*height: 100%;*/
    border-radius: 15px;
    background-color: #F7F7FA;
}
.leaning-contents-wrap {
    display: flex;
}

.leaning-contents-left {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    height: 0;
    position: sticky;
    top: 118px;

}

.leaning-contents-right {
    width: 100%;
}

.leaning-contents-right-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 650px;
    height: 404px;
    margin-bottom: 60px;
}

.leaning-contents-right-down {
    width: 100%;
}

.leaning-contents-word-set {
    padding: 8px;
}
.leaning-contents-word-set li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 24px;
    cursor: pointer;
    position: relative;
}

.leaning-contents-word-set li:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.leaning-contents-word-set li:hover {
    border-radius: 3px;
    background-color: rgba(0, 168, 129,0.24);
}

.leaning-contents-word-set> li.active {
    border-radius: 3px;
    background-color: rgba(0, 168, 129,0.24);
}

.leaning-contents-word-set li:hover span {
    color: #008E6D;
}

.leaning-contents-word-count-wrap {
    width: 37px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(133, 136, 153, 0.16);
}

.leaning-contents-word-count {
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 20px;
    text-align: center;
    color: #858899;
}
.font-point {
    color: #008E6D;
}
.leaning-contents-left-down button {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 4px 43px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
    text-align: center;
    margin: 10px auto;
}
/* leaning-contents-right */
/* leaning-sub-header */
.leaning-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    min-width: 710px;
    height: 68px;
    box-shadow: 0 1px 0 0 #E1E1E8;
    background-color: white;
    z-index: 10;
}
.leaning-sub-header-tab-wrap {
    display: flex;
    height: 100%;
    min-width: 215.69px;
    align-items: center;
}
.leaning-sub-header-sticky-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.leaning-sub-header-sticky-title span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;/
}
.leaning-sub-header-tab {
    display: flex;
    height: 100%;
    align-items: center;
}
.leaning-sub-header-tab li {
    font-size: 16px;
    letter-spacing: -0.16px;
    line-height: 28px;
    color: #858899;
    cursor: pointer;
    text-align: center;
}
.leaning-sub-header-tab li:first-child {
    width: 100px;
    margin-right: 24px;
}
.leaning-sub-header-tab li.active {
    position: relative;
    color: #008E6D;
}
.leaning-sub-header-tab li.active:before {
    transition: all 0.2s;
    content: '';
    position: absolute;
    width: 100%;
    height: 0.125rem;
    bottom: -21px;
    left: 0;
    background-color: #00A881;
    animation-name: tabSlider;
    animation-direction: alternate;
    animation-duration: 0.3s;
}
/*leaning-contents-right-top*/
.leaning-contents-right-word {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.leaning-contents-right-title h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 32px;
    margin-bottom: 24px;
}
.leaning-contents-card-front,
.leaning-contents-card-back {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 -13px 27px 0 rgba(225,225,232,0.2), 0 13px 26px 0 rgba(0,0,0,0.2);
    /*margin: 0 32px;*/
}

div[class*='leaning-contents-card-back']::before,
div[class*='leaning-contents-card-front']::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.leaning-contents-card-front {
    position: absolute;
    z-index: 1;
}
.leaning-contents-card-prev, .leaning-contents-card-next {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 -1px 5px 0 rgba(225,225,232,0.2), 0 1px 3px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.leaning-contents-card-prev {
    position: absolute;
    /*z-index: 5;*/
    left: 12%;
}
.leaning-contents-card-next {
    position: absolute;
    right: 12%;
}
.leaning-contents-card-prev:before,
.leaning-contents-card-next:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.leaning-contents-card-prev span, .leaning-contents-card-next span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    color: #858899;
    font-size: 24px;
    cursor: pointer;
}
.leaning-contents-card-word {
    display: flex;
    align-items: center;
    text-align: center;
}
.leaning-contents-card-information {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    bottom: 16px;
    box-sizing: border-box;
    height: 48px;
    width: 480px;
    border: 1px solid #5094FA;
    border-radius: 5px;
    background-color: #F1F7FF;
    cursor: pointer;
    z-index: -10;
}
.card-information i {
    margin: 16px 8px 16px 16px;
}

.leaning-contents-card-status {
    margin-top: 32px;
}
.leaning-contents-card-status ul {
    display: flex;
    align-items: center;
}
.leaning-contents-card-status ul li {
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 28px;
    text-align: center;
}
.leaning-contents-card-status ul li:first-child:after {
    content: '/';
    margin: 0 8px;
    font-size: 16px;
    color: #858899;
}
.leaning-contents-card-status ul li:first-child {
    color: #2B2D36;
}
.leaning-contents-card-status ul li:last-child {
    color: #858899;
}
.leaning-contents-card-back {
    position: absolute;
}
.leaning-card {
    transition : 0.5s;
    transform: rotateX(0deg);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.learning__none-word {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #F7F7FA;
}

.learning__last-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #F7F7FA;
}

.leaning-contents-card-wrap {
    display: flex;
    justify-content: center;
    position: relative;
    perspective: 1000px;
    width: 100%;
    height: 100%;
}

.leaning-contents-card-wrap li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .leaning-contents-card-prev {
        position: absolute;
        left: 0%;
    }

    .leaning-contents-card-next {
        position: absolute;
        right: 0%;
    }
}
/* right-down-table-contents */
.leaning-contents-table-info {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 30px;
}
.leaning-contents-right-top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-word-set-count {
    color: #1F6CD3;
}
.table-word-delet-btn {
    display: flex;
    align-items: center;
    height: 32px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
    text-align: center;
}
.leaning-table {
    width: 100%;
}
.leaning-table th {
    position: relative;
    height: 40px;
    padding: 8px;
    background-color: #F7F7FA;
    box-shadow: 0 1px 0 0 #E1E1E8;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.1px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
}
.leaning-table tr td {
    height: 50px;
    /*padding: 8px;*/
    background-color: #fff;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 24px;
    border-bottom: 1px solid #E1E1E8;
    vertical-align: middle;
}

.learning-table-checkbox {
    width: 16px;
    height: 16px;
}

.leaning-table th:nth-child(1) {
    width: 5%;
    padding: 5px 24px;
}
.leaning-table td:nth-child(1) {
    width: 5%;
    padding: 5px 24px;
}

.leaning-table th:nth-child(2)
.leaning-table td:nth-child(2) {
    width: 20%;
    padding: 5px 24px;
}
.leaning-table td:nth-child(3),
.leaning-table th:nth-child(3) {
    width: 40%;
    padding: 5px 24px;
}
.leaning-table td:nth-child(4),
.leaning-table th:nth-child(4) {
    width: 15%;
    min-width: 100px;
    /*padding: 5px 24px;*/
    text-align: center;
}
.leaning-table td:nth-child(5),
.leaning-table th:nth-child(5) {
    width: 12%;
    min-width: 100px;
    padding: 5px 24px;
    text-align: center;
}
.leaning-table td:nth-child(5) i {
    cursor: pointer;
}
.leaning-table td:nth-child(5) i:first-child {
    margin-right: 20px;
}
.learning__current-container {
    min-width: 768px;
}
.leaning-current-article-wrap {
    /*height: 368px;*/
    padding: 50px 24px;
    position: relative;
    z-index: 11;
    box-shadow: 0 1px 0 0 #E1E1E8;
}
.leaning-current-article-category {
    padding: 4px 10px;
}
.leaning-current-article-contents {
    display: flex;
    justify-content: space-between;
}
.leaning-current-article-right img {
    height: 144px;
    width: 256px;
    border-radius: 10px;
}
.leaning-current-progress-status {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.leaning-current-progress-status-percent {
    color: #257FF9;
}
.leaning-current-progress-wrap {
    width: 100%;
    position: relative;
}
.leaning-current-progress-bar {
    width: 100%;
    height: 16px;
    background-color: #F0F0F5;
    border-radius: 8px;
    position: absolute;
}
.leaning-current-progress-bar-success {
    width: 0%;
    height: 100%;
    background-color: #257FF9;
    border-radius: 8px;
    position: absolute;
    transition: 2s;
}
.leaning-current-article {
    /*min-width: 960px;*/
}
.leaning-contents-table-down {
    height: 32px;
    margin-top: 16px;
}

.leaning-contents-table-down button {
    height: 100%;
}

.table-sort:after {
    display: flex;
    align-items: center;
    content: url("/images/learn/con_sort.svg");
}

button.learning__table {
    transition: all 0.3s
}

.learning__table.active {
    background-color: rgba(0, 168, 129, 0.16);
    color: #008e6d;
    font-size: 16px;
    line-height: 1.75rem;
    font-weight: 600;
}

.learning__table-input {
    height: 32px;
}

.word-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(0%, 0%)
}
.word-list li {
    list-style-type: none;
    width: calc(100% - 387px);
    height: 100%;
    opacity: .25;
    position: absolute;
    /*left: 50%;*/
    /*margin-left: -100px;*/
    border-radius: 2px;
    transition: transform 0.5s, opacity 0.5s;
}
.word-list .act {
    opacity: 1;
}
.word-list .word-list-hide {
    opacity : 1;
}
.word-list-end {
    transform: translateX(-50%) scale(1);
}
.word-list-hide {
    transform: translateX(50%) scale(1);
}
.word-list .word-list-hide,
.word-list .word-list-end {
    opacity: 0;
    transition: opacity .2s, transform .2s;
    z-index: -10;
    pointer-events: none;
}
.learning__content-wrod-mb {
    margin-bottom: 0.75rem;
}
.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 20;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.cd-popup-container p {
    padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
    border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
    background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
    border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}
.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}